In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

import warnings as wn
wn.filterwarnings('ignore')

In [2]:
sal_data=pd.read_csv('/content/SalaryData.csv')
sal_data.head()

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [3]:
sal_data.shape

(7999, 14)

In [4]:
sal_data['Salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
sal_data1=pd.get_dummies(sal_data.iloc[:,0:13])

In [6]:
sal_data1

      age  educationno  ...  native_ Vietnam  native_ Yugoslavia
0      25            7  ...                0                   0
1      38            9  ...                0                   0
2      28           12  ...                0                   0
3      44           10  ...                0                   0
4      34            6  ...                0                   0
...   ...          ...  ...              ...                 ...
7994   30           12  ...                0                   0
7995   38           13  ...                0                   0
7996   31           10  ...                0                   0
7997   21           10  ...                0                   0
7998   28            9  ...                0                   0

[7999 rows x 102 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
sal_data['Salary']=le.fit_transform(sal_data['Salary'])
salary=sal_data['Salary']

In [8]:
sal_data1=sal_data1.join(salary)

In [9]:
X=sal_data1.iloc[:,0:98]
Y=sal_data1.iloc[:,-1]

In [10]:
sc=StandardScaler()
X_std=sc.fit_transform(X)

In [11]:
X_std,Y

(array([[-1.02209629, -1.21211694, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967],
        [-0.04497212, -0.43180843, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967],
        [-0.7966061 ,  0.73865434, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967],
        ...,
        [-0.5711159 , -0.04165417, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967],
        [-1.32274988, -0.04165417, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967],
        [-0.7966061 , -0.43180843, -0.14584972, ..., -0.03876134,
         -0.02500938, -0.03537967]]), 0       0
 1       0
 2       1
 3       1
 4       0
        ..
 7994    0
 7995    1
 7996    0
 7997    0
 7998    0
 Name: Salary, Length: 7999, dtype: int64)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X_std,Y, test_size = 0.3)

In [13]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((5599, 98), (5599,), (2400, 98), (2400,))

In [16]:
model = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(model,param_grid,cv=3)

In [17]:
gsv.fit(X_train,y_train)

GridSearchCV(cv=3, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}])

In [18]:
gsv.best_params_ , gsv.best_score_

({'C': 12, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7808536142202444)

In [19]:
model = SVC(C= 13, gamma = 0.5)
model.fit(X_train , y_train)

SVC(C=13, gamma=0.5)

In [20]:
y_pred = model.predict(X_test)

In [21]:
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 78.29166666666667

array([[1656,  139],
       [ 382,  223]])