In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

import warnings as wn
wn.filterwarnings('ignore')

In [2]:
ff_data= pd.read_csv('/content/forestfires.csv')
ff_data.head()

  month  day  FFMC   DMC  ...  monthnov  monthoct  monthsep  size_category
0   mar  fri  86.2  26.2  ...         0         0         0          small
1   oct  tue  90.6  35.4  ...         0         1         0          small
2   oct  sat  90.6  43.7  ...         0         1         0          small
3   mar  fri  91.7  33.3  ...         0         0         0          small
4   mar  sun  89.3  51.3  ...         0         0         0          small

[5 rows x 31 columns]

In [3]:
ff_data['size_category'].unique()

array(['small', 'large'], dtype=object)

In [5]:
ff_data.columns

Index(['month', 'day', 'FFMC', 'DMC', 'DC', 'ISI', 'temp', 'RH', 'wind',
       'rain', 'area', 'dayfri', 'daymon', 'daysat', 'daysun', 'daythu',
       'daytue', 'daywed', 'monthapr', 'monthaug', 'monthdec', 'monthfeb',
       'monthjan', 'monthjul', 'monthjun', 'monthmar', 'monthmay', 'monthnov',
       'monthoct', 'monthsep', 'size_category'],
      dtype='object')

In [6]:
X=ff_data.drop(['month','day','size_category'],axis=1)

In [18]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
ff_data['size_category']=le.fit_transform(Y)
ff_data

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0              1
1     oct  tue  90.6   35.4  ...         0         1         0              1
2     oct  sat  90.6   43.7  ...         0         1         0              1
3     mar  fri  91.7   33.3  ...         0         0         0              1
4     mar  sun  89.3   51.3  ...         0         0         0              1
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0              0
513   aug  sun  81.6   56.7  ...         0         0         0              0
514   aug  sun  81.6   56.7  ...         0         0         0              0
515   aug  sat  94.4  146.0  ...         0         0         0              1
516   nov  tue  79.5    3.0  ...         1         0         0              1

[517 rows x 31 columns]

In [20]:
Y=ff_data.iloc[:,-1:]
Y

     size_category
0                1
1                1
2                1
3                1
4                1
..             ...
512              0
513              0
514              0
515              1
516              1

[517 rows x 1 columns]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [22]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((361, 28), (361, 1), (156, 28), (156, 1))

In [23]:
model = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(model,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}])

In [24]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.7396396396396396)

In [25]:
model = SVC(C= 15, gamma = 0.5)
model.fit(X_train , y_train)
y_pred = model.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 74.35897435897436

array([[  1,  40],
       [  0, 115]])